.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.btn{
  margin: 2px;
}

.divbtn{
  float: left;
}
.form-group label{
  font-weight: 600;
}

.card-title h2{
  margin-left: 15px;
  margin-top: 10px;
}

.App h1{
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
  font-size: 2.2rem;
}
.App h5{
  margin-bottom: 30px;
}